{% load i18n %}
<div class="table-responsive">
  <table class="table table table-zebra w-full">
    <thead>
    <tr>
      <th class="text-left">{% translate "Name" %}</th>
      <th class="text-left">{% translate "Department" %}</th>
      <th class="text-right">{% translate "Salary" %}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.get_department_display }}</td>
        <td class="text-right">${{ employee.salary }}</td>
        <td class="flex space-x-1 justify-end">
          <a href="{% url 'pegasus_employees:django_edit_employee' employee.id %}">
            <div class="btn btn-outline">
              <span class="w-6 h-6 inline-flex justify-center items-center"><i class="fa fa-edit"></i></span>
              <span class="hidden md:inline-block">{% translate "Edit" %}</span></div>
          </a>
          <form method="post" action="{% url 'pegasus_employees:django_delete_employee' employee.id %}">
            {% csrf_token %}
            <button class="btn btn-outline text-red-500 border-red-500 hover:bg-red-500 hover:border-red-700 hover:text-white" type="submit" value="">
              <span class="w-6 h-6 inline-flex justify-center items-center"><i class="fa fa-times"></i></span>
              <span class="hidden md:inline-block">{% translate "Delete" %}</span>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
