# an example production settings/environment file.
# don't check this into source control with secrets!
# you can also use Google Secret Manager to set these

DJANGO_SETTINGS_MODULE=draftline.settings_production
SECRET_KEY='django-insecure-0roX0eUXV0JmMv0YlDw6Qdsz2hN6wMqkSQGGetZzc7eWlrlwx35O1GoFsHFo'
DATABASE_URL="postgresql://user:***@//cloudsql/[your project]:[your region]:draftline_instance/draftline_db"
DEBUG=False
GS_BUCKET_NAME=draftline-media
REDIS_URL="redis://[redis ip]:6379"

STRIPE_LIVE_PUBLIC_KEY="pk_live_***"
STRIPE_LIVE_SECRET_KEY="sk_live_***"
STRIPE_TEST_PUBLIC_KEY="pk_test_***"
STRIPE_TEST_SECRET_KEY="sk_test_***"
