{% load static %}
<div class="flex flex-col space-y-4 lg:flex-row lg:space-x-4 lg:space-y-0 lg:flex-row-reverse my-2">
  <div class="basis-1/4 grow-0 shrink-0">
    <img class="img-fluid" src="{% static 'images/undraw/undraw_savings.svg' %}" alt="Upgrade to Save">
  </div>
  <div class="flex-1">
    <h1 class="text-3xl font-bold mb-2">My Subscription</h1>
    <p class="text-xl mb-1">You're not currently subscribed to a plan.</p>
    <p class="my-2">
      Choose the plan that best fits your needs below to gain access
      to additional functionality on our site!
    </p>
  </div>
</div>
